{% block body %}
<h1>Restaurants</h1>
	{% for restaurant in restaurants%}
		<li><a href="{{ path('_get_restaurant', {'restaurantId': restaurant.id})}}"> {{ restaurant.name }} </a></li>
	{% endfor %}
{% endblock %}
